<html>
<head>
<title>STM32 Nucleo-64 Morpho</title>
</head>
<body>
<h1>STM32 Nucleo-64&trade; Microcontroller Board</h1>
<h2>Morpho Expansion Board</h2>
This project is a template for Morpho expansion boards for STM's family of
<a href="http://www.st.com/en/evaluation-tools/stm32-mcu-nucleo.html" target="blank">STM32 Nucleo-64
</a> development boards.
<br><br>
This project includes a PCB edge defined as the same size as the Nucleo-64 mainboard
with Morpho connectors placed correctly to align the two boards.  The board is cut out
to allow access to the reset and user switches.
<br><br>
<P ALIGN=CENTER><IMG SRC="board_stm32_nucleo_64.png" NAME="brd" ALIGN=BOTTOM
BORDER=0><BR><BR><BR><BR>
</P>
(c)2017 Rob Riggs<br>
</body>
</html>
